.bottom-gutter {
    margin-bottom: 2%;
}

.top-gutter {
    margin-top: 2%;
}

.table, .thead-dark, th {
    margin: 0;
    border-color: #343a40 !important;
}

.nav {
    font-weight: bolder;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

.pointer {
    cursor: pointer;
}
