<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ABC Books: Add a Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="row bottom-gutter top-gutter">
        <div class="col">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{addBook}">Add book</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bottom-gutter">
        <div class="col">
            <h3>
                Add book:
            </h3>
        </div>
    </div>
    <div class="row bottom-gutter">
        <div class="col">
            <form action="#" th:action="@{/saveBook}" th:object="${book}" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-6">
                        <input class="form-control" required type="text" th:field="*{title}" name="title">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Author</label>
                    <div class="col-sm-6">
                        <input class="form-control" required type="text" th:field="*{author}" name="author">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ISBN</label>
                    <div class="col-sm-6">
                        <input class="form-control" required type="text" th:field="*{isbn}" name="isbn">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>