<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="'ABC Books: ' + ${book.getTitle()}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="row bottom-gutter top-gutter">
        <div class="col">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addBook">Add book</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bottom-gutter">
        <div class="col">
            <h3>
                Edit book
            </h3>
        </div>
    </div>
    <div class="row bottom-gutter">
        <div class="col">
            <form action="#" th:action="@{/saveBook}" th:object="${book}" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-6">
                        <input class="form-control" required type="text" th:field="*{title}" name="title"
                               th:value="${book.getTitle()}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Author</label>
                    <div class="col-sm-6">
                        <input class="form-control" required type="text" th:field="*{author}" name="title"
                               th:value="${book.getAuthor()}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ISBN</label>
                    <div class="col-sm-6">
                        <input class="form-control" required type="text" th:field="*{isbn}" name="isbn"
                               th:value="${book.getIsbn()}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <input type="hidden" th:field="*{id}" name="id" th:value="${book.getId()}">
                        <input class="btn btn-primary" type="submit" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row bottom-gutter">
        <div class="col">
            <h3>
                Comments
            </h3>
        </div>
    </div>
    <div class="row bottom-gutter">
        <div class="col">
            <form action="#" th:action="@{/saveComment}" th:object="${comment}" method="post">
                <div class="form-group row">
                <label class="col-sm-2 col-form-label">Your Comment: </label>
                    <div class="col-sm-6">
                        <input class="form-control" required type="text" th:field="*{content}" name="content">
                    </div>
                <input type="hidden" th:field="*{bookId}" name="bookId" th:value="${comment.getBookId()}">
                <input class="btn btn-primary ml-1" type="submit" value="Add comment">
                </div>
            </form>
        </div>
    </div>
    <div class="row bottom-gutter">
        <div class="col">
            <div class="card border-dark">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            Comment
                        </th>
                        <th scope="col">
                            Date
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="comment: ${comments}">
                        <td th:text="${comment.getContent()}">
                        </td>
                        <td th:text="${comment.getDate()}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>