<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>ABC Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="row bottom-gutter top-gutter">
        <div class="col">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{addBook}">Add book</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bottom-gutter">
        <div class="col">
            <h3>Books</h3>
        </div>
    </div>
    <div class="row bottom-gutter">
        <div class="col">
            <div class="card border-dark">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            Title
                        </th>
                        <th scope="col">
                            Author
                        </th>
                        <th scope="col">
                            ISBN-13
                        </th>
                        <th scope="col">
                            Comments
                        </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book: ${books}">
                        <td th:text="${book.getId()}">
                        </td>
                        <td th:text="${book.getTitle()}">
                        </td>
                        <td th:text="${book.getAuthor()}">
                        </td>
                        <td th:text="${book.getIsbn()}">
                        </td>
                        <td th:text="${book.getCommentCount()}">
                        </td>
                        <td>
                            <span th:onclick="'deleteBook(' + ${book.getId()} + ')'">
                                <img src="/removeIcon.png" class="rounded float-left pointer">
                            </span>
                        </td>
                        <td>
                            <a th:href="'/book/' + ${book.getId()}">
                                <img src="/editIcon.png" class="rounded float-left">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function deleteBook(id) {
        var deleteUrl = `http://localhost:8080/book/delete/${id}`;
        fetch(deleteUrl, {
            method: "delete"
        }).then(res => res.json()).then(data => {
            if (data) {
                location.reload();
            }
        })
    }
</script>
</html>
